/* 1. Global fix: Put this at the very top */
* {
    box-sizing: border-box;
}

body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

/* ... (Rest of your text styles) ... */

div {
    display: inline-block;
    width: 24%; /* Base mobile width */
    margin: 5px;
    padding: 2px;
    vertical-align: top; /* Prevents alignment issues with inline-block */
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

/* --- Media Queries --- */

/* First Media Query: 772px */
@media screen and (min-width: 772px) {
    div {
        width: 45vw; 
    }

    div img {
        width: 100%;    /* Overrides the 150px */
        height: auto;   /* Allows height to be flexible */
        max-height: 30vh; 
        object-fit: cover; 
    }
}

/* Second Media Query: 998px */
@media screen and (min-width: 998px) {
    div {
        width: 30vw;
    }
}